{% extends "admin/base_site.html" %}
{% block extrastyle %}
  {{ block.super }}
  <style>
  .content { align-self : center;}
  </style>
{% endblock %}
{% block content %}
  <form method="post" style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
    {% csrf_token %}
      {% for key, values in post_data.items %}
        {% for value in values %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
         {% comment %} <li>{{obj}}</li> {% endcomment %}
        {% endfor %}
      {% endfor %}
      <input type="text" name="confirm_action" value="yes" hidden>
      {% block form %}
      {% if form %}
          <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
          {{ form.media }}
         {{ form.as_p }}
      {% endif %}
      {% endblock %}

      {% if show_cancel_btn %}
      <input type="button" onclick="history.back()" value="Cancel" id="cancel_btn">
      {% endif %}
      
      {% if show_objects %}
      <p style="margin-top:20px;"> Actions to be applyed on the following :</p>
      <ul>
        {% for obj in queryset %}
         <li>{{obj}}</li>
        {% endfor %}
      </ul>
      {% endif %}

  </form>
  {% endblock %}
