{% extends "admin/change_list.html" %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script>
    {% if refresh_time %}
    window.setTimeout(() => window.location.href = window.location.href    , {{refresh_time}});
    {% endif %}
</script>
{% endblock %}

{% load static %}
{% block content %}

<div style = "margin-bottom: 10px;">

    <form method="post" action="{{ form.Action }}" enctype="multipart/form-data" style="display: flex;
    align-items: baseline;
    gap: 1.5rem;
    padding-left: 10px;">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>

{{ block.super }}  <!-- This renders the default changelist view below the upload form -->
{% endblock %}

