{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<div style = "margin-bottom: 10px;">
    <form method="post" action="/get-outstanding-report">
        {% csrf_token %}
        <input type="date" name="date">
        <input  type="submit" name="submit" class="button" value="Download"
               style="margin-left:15px ; display: inline-block; padding: 7px 7px; background-color: #4CAF50; color: white; border-radius: 5px;">
    </form>
</div>

{{ block.super }}  <!-- This renders the default changelist view below the upload form -->
{% endblock %}

